/* PAGE LAYOUT */
.page {
  min-height: 100vh;
  display: flex;
  justify-content: center;     /* horizontal center */
  align-items: flex-start;     /* start from top */
  padding-top: 40px;
}

/* MAIN APP WRAPPER */
.app-wrapper {
  width: 420px;
}

/* TITLE */
.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 0.5px;
  color: #1f2937;
}

/* TODO FORM */
.todo-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.todo-form input {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

/* ADD BUTTON */
.todo-form button {
  margin-top: 5px;
  padding: 12px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  font-family: 'Poppins', sans-serif;
}

.todo-form button:hover {
  background: #4338ca;
}

/* TODO ITEM CARD */
.todo-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #f9fafb;
  padding: 14px;
  margin-top: 14px;
  border-radius: 6px;
}

/* TODO TITLE */
.todo-item h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
  color: #111827;
}

/* TIME STATUS TEXT */
.todo-item p {
  margin-top: 4px;
  font-size: 13px;
  color: #4b5563;
}

/* WARNING (< 24 HOURS) */
.warning {
  color: #ca8a04;
  font-weight: 600;
}

/* EXPIRED */
.expired {
  color: #dc2626;
  font-weight: 600;
}

/* DELETE BUTTON */
.todo-item button {
  background: #ef4444;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 13px;
  font-family: 'Poppins', sans-serif;
}

.todo-item button:hover {
  background: #dc2626;
}